@import url('https://fonts.google.com/specimen/Lato');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --theme_main_color: #4B0082;
  --theme_trim_color: #E6E6FA;
  --theme_accent_color:#ADD8E86;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #f7f9fc; /* fallback for older browsers without gradient support */
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
  margin: 0;
  padding: 0;
}

.theme {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: var(--theme_main_color);

}

@layer components {
  .auth-global {
    @apply text-black bg-gray-100 flex flex-col items-center justify-center min-h-screen font-lato;
  }
}

