@import url('fonts/Myriad Pro/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme colors */
  --foreground: #000;
  --background-start: #d6dbdc;
  --background-end: #fff;
  --color-main: #4B0082;
  --color-trim: #E6E6FA;
  --color-accent: #ADD8E6;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme colors */
    --foreground: #fff;
    --background-start: #000;
    --background-end: #000;
    --color-main: YourDarkColorHere;
    --color-trim: YourDarkColorHere;
    --color-accent: YourDarkColorHere;
  }
}

.theme {
  color: #fff;
  background-color: var(--color-main);
}

body {
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  font-size: 1rem;

  color: rgb(var(--foreground-rgb));
  background-color: #f7f9fc; /* fallback for older browsers without gradient support */
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
  margin: 0;
  padding: 0;
}

.card-title-font {
  font-family: 'Myriad Pro', "sans-serif";
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;

}

.card-body-font {
  font-family: 'Myriad Pro', "sans-serif";
  font-size: 1.15rem;
  font-weight: 400;
}

.card-desc-font {
  font-family: 'Myriad Pro', "sans-serif";
  font-size: 1rem;
  font-weight: 350;
}

.theme {
  font-family: 'Myriad Pro', "sans-serif";
  color: #ffffff;
  background-color: var(--theme_main_color);

}

.navbar-font {
  font-family: 'Myriad Pro', "sans-serif";
  font-size: 1.15rem;

}

.button {
  /* Default font size for large screens */
  font-size: 16px;
}

/* For screens smaller than 600px wide */
@media (max-width: 600px) {
  .card-title-font {
    font-size: 1.5rem;
  }
}

/* For screens smaller than 400px wide */
@media (max-width: 400px) {
    .card-title-font {
        font-size: 1.25em;
    }
}


@layer components {
  .auth-global {
    @apply text-black bg-gray-100 flex flex-col items-center justify-center min-h-screen font-MyriadPro font-semibold;
  }
  .scale-global {
    @apply text-black bg-gray-100 flex flex-col items-center justify-center min-h-screen font-MyriadPro font-semibold;
  }
  .card {
    @apply border rounded-lg bg-neutral-800/30 border-gray-400 hover:border-blue-500 hover:bg-blue-200 p-6 shadow-md hover:shadow-xl transform transition-all duration-300 hover:scale-105;
  }
}

